.landing-image {
  background-image: url("../img/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
.landing-text {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about {
  text-align: center;
}
.services-image {
  background-image: url("../img/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services-text {
  text-align: center;
  color: #ffffff;
}
